In [1]:
import numpy as np
import pandas as pd

In [2]:
coliDf = pd.read_csv("../data/collisions_sd.csv")
coliDf

,report_id,date_time,police_beat,address_no_primary,address_pd_primary,address_road_primary,address_sfx_primary,address_pd_intersecting,address_name_intersecting,address_sfx_intersecting,violation_section,violation_type,charge_desc,injured,killed,hit_run_lvl
0,171111,2015-01-14 20:00:00,835,4200,,JUNIPER,STREET,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
1,192016,2015-03-19 12:00:00,622,5200,,LINDA VISTA,ROAD,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
2,190012,2015-03-24 03:05:00,626,1000,W,WASHINGTON,STREET,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,2,0,NaN
3,191866,2015-03-27 23:56:00,613,2800,,WORDEN,STREET,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,1,0,NaN
4,185207,2015-07-06 11:45:00,813,2800,,EL CAJON,BOULEVARD,,,,20002(A),VC,HIT AND RUN,0,0,MISDEMEANOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64554,23022608,2023-05-27 05:10:00,311,3200,,WEST CANYON,AVENUE,,,,23152A,VC,DUI ALCOHOL (M),1,0,NaN
64555,23202943,2023-05-27 12:31:00,447,5000,,FEDERAL,BOULEVARD,,,,20002(A),VC,HIT AND RUN:PROP DAMAGE (M),0,0,MISDEMEANOR
64556,23202949,2023-05-27 14:15:00,524,900,,11TH,AVENUE,,,,22350,VC,UNSAFE SPEED (BASIC SPEED LAW) (I),0,0,NaN
64557,23202956,2023-05-27 21:05:06,811,4300,,CHEROKEE,AVENUE,,,,22107,VC,TURNS:UNSAFE TURN AND/OR NO TURN SIGNAL (I),0,0,MISDEMEANOR
64558,23202958,2023-05-27 22:40:00,613,0,,4100WHITTIER,STREET,,Catalina,BOULEVARD,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,1,0,MISDEMEANOR

In [4]:
import redis
import time

# Connect to the Redis container
r = redis.Redis(host='localhost', port=6379, db=0)

r.hset('fact_memory', mapping={0: 1, 1: 1, 'max': 1})

In [7]:
import pandas as pd
from tqdm import tqdm
import numpy as np